.cell-row {
    margin: 0;
    padding: 0;
    height: 10px;
}
.cell {
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    border: 1px solid #cccccc;
    display: inline-block;
    background-color: #f0f0f0;
}

.life {
    /*background-color: #ff0000;*/
    border-color: #000000;
}

.gol-wrapper {
    width: auto;
    margin: 0 auto;
}